@page "/Database/Result/{id:long}"
@using Elpida.Web.Frontend.Services
@using Elpida.Backend.Services.Abstractions.Dtos.Result
@using Elpida.Web.Frontend.Shared.Components

@if (_result is not null)
{
    <h2>
        @_result.Name for @_result.System.Cpu.ModelName
    </h2>
    <TabControl Tabs="GetTabs()"></TabControl>
}
else
{
    <div class="flex-center column" style="height: 10em">
        <div class="spinner"></div>
    </div>
}

@inject ResultsFrontEndService _service;

@code {

    [Parameter]
    public long Id { get; set; }

    private BenchmarkResultDto? _result;

    protected override async Task OnParametersSetAsync()
    {
        _result = await _service.GetSingleAsync(Id);
    }

    private string GetScoreString()
    {
        var (value, suffix) = ValueConverterService.ConvertToSI(_result.Score);

        return $"{value} {suffix}{_result.ScoreSpecification.Unit}";
    }

    private IEnumerable<(RenderFragment Title, RenderFragment Content)> GetTabs()
    {
        return new (RenderFragment title, RenderFragment content)[]
        {
            (@<IconWithText IconName="summary">Summary</IconWithText>, @<div class="result-summary-container">
                                                                           <div class="flex-center row">
                                                                               <div class="flex-center column" style="margin: 0 1em 2em 1em">
                                                                                   <div>
                                                                                       <img class="result-summary-image" src="@ImageLinksService.GetCpuImageLink(_result.System.Cpu.Vendor)" alt="@_result.System.Cpu.Vendor logo">
                                                                                       <img class="result-summary-image" src="@ImageLinksService.GetBenchmarkImage(_result.Uuid)" alt="@_result.Name representantive image">
                                                                                   </div>
                                                                                   <b style="font-size: larger">@_result.System.Cpu.ModelName</b>
                                                                               </div>
                                                                               <div style="margin: 1em">
                                                                                   <GroupBox Title="@_result.Name">
                                                                                       <div class="text-center">@GetScoreString()</div>
                                                                                   </GroupBox>
                                                                               </div>
                                                                           </div>
                                                                           <div class="result-summary-details">
                                                                               <b>Timestamp:</b><span>@_result.TimeStamp.ToString("R")</span>
                                                                               <b>Benchmark name:</b><span>@_result.Name</span>
                                                                               <b>CPU model:</b><span>@_result.System.Cpu.ModelName</span>
                                                                               <b>CPU frequency:</b><span>@ValueConverterService.ConvertToStringSI(_result.System.Cpu.Frequency, spaceBetween: true)Hz</span>
                                                                               <b>Total memory:</b><span>@ValueConverterService.ConvertToStringIEC(_result.System.Memory.TotalSize, spaceBetween: true)B</span>
                                                                               <b>Os:</b><span>@_result.System.Os.Name</span>
                                                                           </div>
                                                                       </div>),
            (@<IconWithText IconName="cpu">CPU</IconWithText>, @<div class="flex-center" style="place-content: start; flex-flow: row wrap">
                                                                   <img class="result-summary-image" src="@ImageLinksService.GetCpuImageLink(_result.System.Cpu.Vendor)" alt="@_result.System.Cpu.Vendor logo">
                                                                   <div class="result-summary-details">
                                                                       <b>Architecture:</b><span>@_result.System.Cpu.Architecture</span>
                                                                       <b>Vendor:</b><span>@_result.System.Cpu.Vendor</span>
                                                                       <b>Model:</b><span>@_result.System.Cpu.ModelName</span>
                                                                       <b>Frequency:</b><span>@ValueConverterService.ConvertToStringSI(_result.System.Cpu.Frequency, spaceBetween: true)Hz</span>
                                                                       <b>SMT:</b><span>@_result.System.Cpu.Smt</span>
                                                                       <b>Features:</b><span>@string.Join(' ', _result.System.Cpu.Features ?? new string[0])</span>
                                                                   </div>
                                                                   <b>Caches:</b>
                                                                   <div class="flex-center row">
                                                                       @foreach (var cache in _result.System.Cpu.Caches)
                                                                       {
                                                                           <div class="cpu-cache">
                                                                               <div class="cpu-cache-name">@cache.Name</div>
                                                                               <div class="result-summary-details cpu-cache-details">
                                                                                   <b>Size:</b><span>@ValueConverterService.ConvertToStringIEC(cache.Size, spaceBetween: true)B</span>
                                                                                   <b>Associativity:</b><span>@cache.Associativity</span>
                                                                                   <b>Line Size:</b><span>@cache.LineSize</span>
                                                                               </div>
                                                                           </div>
                                                                       }
                                                                   </div>
                                                               </div>),
            (@<IconWithText IconName="topology">Topology</IconWithText>, @<div class="flex-center row">
                                                                             <TopologyView Topology="_result.System.Topology" Affinity="_result.Affinity.ToHashSet()"></TopologyView>
                                                                         </div>),
            (@<IconWithText IconName="os">Os</IconWithText>, @<div class="flex-center" style="place-content: start; flex-flow: row wrap">
                                                                 <img class="result-summary-image" src="@ImageLinksService.GetOsImageLink(_result.System.Os.Category)" alt="@_result.System.Os.Category logo">
                                                                 <div class="result-summary-details">
                                                                     <b>Category:</b><span>@_result.System.Os.Category</span>
                                                                     <b>Name:</b><span>@_result.System.Os.Name</span>
                                                                     <b>Version:</b><span>@_result.System.Os.Version</span>
                                                                 </div>
                                                             </div>),
            (@<IconWithText IconName="elpida">Elpida version</IconWithText>, @<div class="flex-center" style="place-content: start; flex-flow: row wrap">
                                                                                 <img class="result-summary-image" src="@ImageLinksService.GetElpidaMonochromeAvatarLink()" alt="Elpida monochrome stylized mascot">
                                                                                 <div class="result-summary-details">
                                                                                     <b>Version:</b><span>@(_result.ElpidaVersion.Version.Major).@(_result.ElpidaVersion.Version.Minor).@(_result.ElpidaVersion.Version.Revision).@(_result.ElpidaVersion.Version.Build)</span>
                                                                                     <b>Compiler:</b><span>@_result.ElpidaVersion.Compiler.Name @_result.ElpidaVersion.Compiler.Version</span>
                                                                                 </div>
                                                                             </div>),
            (@<IconWithText IconName="benchmark">Task results</IconWithText>, @<TaskResults Results="_result.TaskResults"></TaskResults>),
        };
    }

}