@page "/Database/Result/{id:long}"
@using Elpida.Web.Frontend.Services
@using Elpida.Backend.Services.Abstractions.Dtos.Result
@using Elpida.Web.Frontend.Shared.Components

@if (_result is not null)
{
    <h2>
        @_result.Name for @_result.System.Cpu.ModelName
    </h2>
    <TabControl Tabs="GetTabs()"></TabControl>
}
else
{
    <div class="flex-center column" style="height: 10em">
        <div class="spinner"></div>
    </div>
}

@inject ResultsFrontEndService _service;

@code {

    [Parameter]
    public long Id { get; set; }

    private BenchmarkResultDto? _result;

    protected override async Task OnParametersSetAsync()
    {
        _result = await _service.GetSingleAsync(Id);
    }

    private string GetScoreString()
    {
        var (value, suffix) = ValueConverterService.ConvertToSI(_result.Score);

        return $"{value} {suffix}{_result.ScoreSpecification.Unit}";
    }

    private IEnumerable<(RenderFragment Title, RenderFragment Content)> GetTabs()
    {
        return new (RenderFragment title, RenderFragment content)[]
        {
            (@<IconWithText IconName="summary">Summary</IconWithText>, @<div class="result-summary-container">
                            <div class="result-icon-container">
                                <img class="result-summary-image" src="@ImageLinksService.GetCpuImageLink(_result.System.Cpu.Vendor)" alt="@_result.System.Cpu.Vendor logo">
                                <img class="result-summary-image" src="@ImageLinksService.GetBenchmarkImage(_result.Uuid)" alt="@_result.Name representantive image">
                            </div>
                            <div class="result-summary-details">
                                <b>Timestamp:</b><span>@_result.TimeStamp.ToString("R")</span>
                                <b>Benchmark name:</b><span>@_result.Name</span>
                                <b>CPU model:</b><span>@_result.System.Cpu.ModelName</span>
                                <b>CPU frequency:</b><span>@ValueConverterService.ConvertToStringSI(_result.System.Cpu.Frequency, spaceBetween: true)Hz</span>
                                <b>Total memory:</b><span>@ValueConverterService.ConvertToStringIEC(_result.System.Memory.TotalSize, spaceBetween: true)B</span>
                                <b>Os:</b><span>@_result.System.Os.Name</span>
                            </div>
                            <GroupBox Title="@_result.Name">
                                <div class="text-center">@GetScoreString()</div>
                            </GroupBox>
                        </div>),
            (@<IconWithText IconName="cpu">CPU</IconWithText>, @<div class="flex-center" style="place-content: start; flex-flow: row wrap">
                        <img class="result-summary-image" src="@ImageLinksService.GetCpuImageLink(_result.System.Cpu.Vendor)" alt="@_result.System.Cpu.Vendor logo">
                        <div class="result-summary-details">
                            <b>Architecture:</b><span>@_result.System.Cpu.Architecture</span>
                            <b>Vendor:</b><span>@_result.System.Cpu.Vendor</span>
                            <b>Model:</b><span>@_result.System.Cpu.ModelName</span>
                            <b>Frequency:</b><span>@ValueConverterService.ConvertToStringSI(_result.System.Cpu.Frequency, spaceBetween: true)Hz</span>
                            <b>SMT:</b><span>@_result.System.Cpu.Smt</span>
                            <b>Features:</b><span>@string.Join(",", _result.System.Cpu.Features ?? new string[0])</span>
                        </div>
                    </div>),
            (@<IconWithText IconName="topology">Topology</IconWithText>, @<div class="flex-center row">
                             <TopologyView Topology="_result.System.Topology" Affinity="_result.Affinity.ToHashSet()"></TopologyView>
                         </div>),
            (@<IconWithText IconName="os">Os</IconWithText>, @<div class="result-summary-details">
                       <b>Category:</b><span>@_result.System.Os.Category</span>
                       <b>Name:</b><span>@_result.System.Os.Name</span>
                       <b>Version:</b><span>@_result.System.Os.Version</span>
                   </div>),
            (@<IconWithText IconName="elpida">Elpida version</IconWithText>, @<div class="result-summary-details">
                                   <b>Version:</b><span>@(_result.ElpidaVersion.Version.Major).@(_result.ElpidaVersion.Version.Minor).@(_result.ElpidaVersion.Version.Revision).@(_result.ElpidaVersion.Version.Build)</span>
                                   <b>Compiler:</b><span>@_result.ElpidaVersion.Compiler.Name @_result.ElpidaVersion.Compiler.Version</span>
                               </div>),
            (@<IconWithText IconName="benchmark">Task results</IconWithText>, @<div class="result-summary-details">
                                 LOL
                             </div>),
        };
    }

}